<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    {% if title %}
    <title>{{title}}</title>
    {% endif %}
    <style>
html, body {
    margin: 0;
    padding: 0;
}
ul, ol {
    margin: 0.5em;
}
li {
    margin: 0.5em;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}
.errors {
    background-color: #f2dede;
}

</style>
</head>
<body>
    {% if title %}
    <h1>{{title}}</h1>
    {% endif %}

    {% if errors %}
    <div class="errors">
        <p>Errors:</p>
        <ul>
            {% for error in errors %}
            <li><code>{{error}}</code></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if info_list %}
    <ol>
        {% for info in info_list %}
        <li><a href="{{info.id}}.html">{{info.id}}: {{info.title}}</a></li>
        {% endfor %}
    </ol>
    {% endif %}
</body>
</html>
