<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>{{id}}</title>
    {% endif %}
    <link rel="stylesheet" href="style.css" />
</head>

{% macro navbutton(edge, text) %}
    {% if _adj[edge] %}
    <a rel="{{edge}}" class="navbutton" href="{{_adj[edge]}}.html">{{text}}</a>
    {% else %}
    <div class="navbutton disabled">{{text}}</div>
    {% endif %}
{% endmacro %}
{% macro navbar() %}
<div class="navbar">
    {{ navbutton('prev', '&lt;') }}
    {{ navbutton('next', '&gt;') }}
</div>
{% endmacro %}

<body>
    <div class="header">
        <a class="headeritem" href="index.html">Index</a>
        <a class="headeritem" href="{{_url}}">Original</a>
    </div>
    <div class="main">
        {% if title %}
        <h1>{{title}}</h1>
        {% else %}
        <h1>{{id}}</h1>
        {% endif %}
        {{ navbar() }}

        {% if img_fname %}
        {% if comic_url %}
        <a href="{{comic_url}}">
        {% endif %}
        <img src="img/{{img_fname}}" />
        {% if comic_url %}
        </a>
        {% endif %}
        {% endif %}

        {% if text %}
        <p>{{text}}</p>
        {% endif %}
        {{ navbar() }}
    </div>
    {% if _scrape_errors %}
    <div class="errors">
        <span>Scrape Errors:</span>
        <ul class="scrape_errors">
        {% for k, v in _scrape_errors.items() %}
            <li><code>{{k}}</code>: <code>{{v}}</code></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
</html>
